/*--------------------------------------- Header NavBarComponents ---------------------------------------*/
#NavBarComponents {
  min-height: 5vh;
  background-color: #2E4D6E;
}
/*--------------------------------------- Main BodyComponents -----------------------------------------*/
#BodyComponents {
  flex-grow: 1;
  background-color: #EDD09F;
}
/*--------------------------------------- Footer FooterComponents ---------------------------------------*/
#FooterComponents {
  min-height: 5vh;
  background-color: #423011;
}
