/*--------------------------------------- Header NavBarComponents ---------------------------------------*/
#NavBarComponents {
  min-height: 15vh;
  background-color: blueviolet;
}
/*--------------------------------------- Main BodyComponents -----------------------------------------*/
#BodyComponents {
  flex-grow: 1;
  background-color: aqua;
}
/*--------------------------------------- Footer FooterComponents ---------------------------------------*/
#FooterComponents {
  min-height: 5vh;
  background-color: brown;
}
